# SEMANA 02
Papuico Miranda Alexcander Antony

Temas : 
    1. Numeros
    2. Variables
    3. Manejo de cadenas 
    4. Ingreso de datos por el teclado
    5. Operadores

In [2]:
3. Manejo de Cadenas

SyntaxError: invalid syntax (<ipython-input-2-45c3db6d62fc>, line 1)

In [11]:
cadena = "Universidad Nacional Tecnologica de Lima Sur"

In [12]:
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [13]:
# Universidad Nacional Tecnologica de Lima Sur
# 012345.....................................,-2,-1

In [14]:
cadena[5]

'r'

In [15]:
cadena[10]

'd'

In [16]:
# Tambien considera los espacios

In [17]:
cadena[11]

' '

In [18]:
# ¿que se mostrara
cadena[-5]

'a'

In [19]:
cadena[21]

'T'

In [20]:
#Tambien lo puedo mostrar accediendo de manera inversa

In [21]:
cadena[-23]

'T'

In [22]:
# Para mostrar una subcadena [desde, hasta una antes]

In [23]:
cadena[3:8]

'versi'

In [25]:
# Para saber el tamaño de una cadena utilizamos len()
# incluye espacios en blanco
len(cadena)

44

In [26]:
# Para utilizar una cadena en mayuscula utilizamos uppper()
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR'

In [27]:
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [28]:
# Si deseo cambiar una cadena en letras minusculas utilizamos lower()
cadena.lower()

'universidad nacional tecnologica de lima sur'

In [29]:
# Generar una lista a partir de una cadena cadena.split()
cadena.split()

['Universidad', 'Nacional', 'Tecnologica', 'de', 'Lima', 'Sur']

In [31]:
# Generar una lista utilizando un criterio de separacion a partir de una cadena cadena.split()
# vamos a generar una lista de toda la cadena, utlizamdo como criterio de separación : letra "A"
cadena.split("a")

['Universid', 'd N', 'cion', 'l Tecnologic', ' de Lim', ' Sur']

# Imprimir

In [32]:
# Imprimir dando formato
# Forma clasica " + "
# .forma()
# f

In [33]:
# Forma clasica, concatenar con +
nombre = "Alexander"
print("Buenos dias " + nombre)

Buenos dias Alexander

In [35]:
# Utilizando el  .format()
nombre = "Alexander Papuico Miranda"
edad   = 24
print("Hola {} ya sé que tienes  {} años".format(nombre,edad))

Hola Alexander Papuico Miranda ya sé que tienes  24 años

In [40]:
# Dar formato a numeros con muchos decimales
resultado = 10/3
print("10/3 es = {} ".format(resultado))
print("10/3 es = {r:1.3f}".format(r = resultado))

10/3 es = 3.3333333333333335
10/3 es = 3.333

In [41]:
# Dar formato con f
nombre = " Alexander Antony"
edad   = 24
print(f"Buenos dias {nombre}, ya se que tienes {edad} años")

Buenos dias  Alexander Antony, ya se que tienes 24 años

In [46]:
resultado = 10/3
print(f" El resultado es {resultado}")

print(f" El resultado es {resultado:1.3f}")

 El resultado es 3.3333333333333335
 El resultado es 3.333