# SEMANA 02
Papuico Miranda Alexander Antony

Temas : 
    1. Numeros
    2. Variables
    3. Manejo de cadenas 
    4. Ingreso de datos por el teclado
    5. Operadores

5. Operadores

In [2]:
# 5.1 Operdaores aritmeticos
# Se tiene : +,-,*,/,%,**,//

In [4]:
numero1  = 10
numero2  = 3
suma     = numero1 + numero2
resta    = numero1 - numero2
division = numero1 / numero2
residuo  = numero1 % numero2
cociente = numero1 // numero2
potencia = numero1 ** numero2

print(suma)
print(resta)
print(division)
print(residuo)
print(cociente)
print(potencia)

13
7
3.3333333333333335
1
3
1000

In [5]:
# 5.2 Operadores de asignacion
# Se tiene : -, +, -=, *=,/=,**=
numero = 5
numero = numero + 3
print(numero)

8

In [6]:
#Potencia
numero = 5
numero = numero ** 3
print(numero)

125

In [7]:
# 5.3 Operadores de compraracion
# Se tiene : ==, !=, z, >, <=, >=;

In [8]:
# Ejemplo de igualdad
numero1 = 5
numero2 = 2
numero1 == numero2

False

In [11]:
# Cadenas
nombre1 = "Alexander"
nombre2 = "Alexander"
nombre1 == nombre2

False

In [12]:
#5.4 Operadores logicos
# Se tiene and , or , not
numero1 = 5
numero2 = 6
numero3 = 7
numero4 = 8
numero1 <numero2

True

In [13]:
#El not invierte el resultado
not numero1 < numero2

False

In [14]:
numero1 < numero2 and numero3 < numero4

True

In [17]:
# Tambien puedes utilizar parentesis para ordenar tu operacion
(numero1 < numero2 and numero3 < numero4 )  or (numero3 > numero4)

True

In [18]:
# Operadores de pertenencia 
# Se tiene : in , not in

In [19]:
# Ejemplo

aula    = ["Lucero", "Dylan","Angel"]
alumno1 = " Melany"
alumno2 = "Gustavo"

In [20]:
# ¿Melany  esta en aula?
alumno1 in aula

False

In [21]:
# ¿Gustavo  esta en aula?
alumno2 in aula

False

In [22]:
## ¿Melany  no esta en aula?
alumno1 not in aula

True

In [23]:
# ¿Gustavo  esta en aula?
alumno2 not in aula

True

In [36]:
# 5.6 Operadores de identidad
# Se tiene  : is ,is not

In [37]:
aula1 = ["Lucero", "Dylan","Angel"]
aula2 = ["Lucero", "Dylan","Angel"]
# A continuacion vamos a iindicar que aula3 va a compartir el mismo objeto que aula1
aula3 = aula1

In [32]:
# ¿aula3 comparte el mismo obejto que aula1? 
aula3 is aula1

True

In [34]:
# ¿aula3 comparte el mismo obejto que aula2? 
aula3 is aula2

False

In [38]:
# Añadir un elmento a la lista
aula1.append("Pedro")

In [39]:
#Al imprimir los elementos de la lusta aula1 se observa
print(aula1)

['Lucero', 'Dylan', 'Angel', 'Pedro']

In [40]:
# # Al imprimir los elementos de la lista aula3 se observa
print(aula3)

['Lucero', 'Dylan', 'Angel', 'Pedro']

In [41]:
#Al imprimir los elementos de la lista aula2 se oberva 
print(aula2)

['Lucero', 'Dylan', 'Angel']